body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.exercise-logo {
    width: 200px; /* Устанавливает ширину изображений */
    display: block; /* Делает изображение блочным элементом */
    margin-bottom: 10px; /* Добавляет небольшой отступ снизу */
    margin-left: 0; /* Устанавливает отступ слева, чтобы прижать к левому краю */
}
form {
    width: 100%; /* Пример ширины формы, можете настроить по вашему дизайну */
    margin-left: 0; /* Устанавливаем отступ слева, чтобы прижать форму к левому краю */
    padding: 10px; /* Добавляем паддинг внутри формы для лучшего вида элементов */
    box-sizing: border-box;
    margin-top: 5px; /* Меньший отступ сверху для формы */}

input[type="text"], input[type="number"], button {
    width: 100%; /* Поля и кнопка займут всю ширину формы */
    padding: 10px; /* Поддерживаем паддинг */
    margin-top: 5px; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
    box-sizing: border-box; /* Включает паддинг и границу в общую ширину */
    text-align: left;
}
button {
    background-color: rgb(186, 29, 186); /* Пурпурный цвет кнопки */
    color: rgb(249, 247, 247); /* Цвет текста */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Курсор в виде указателя */
    text-align: center;
}
button:hover {
    background-color: #7f007f; /* Темно-пурпурный при наведении */
}/* Уменьшение отступа непосредственно между логотипами и полями */
input, button {
    margin-bottom: 10px; /* Установите меньший отступ снизу, если нужно */
}
table {
    width: 100%; /* Устанавливает ширину таблицы на 100% от доступного пространства */
    border-collapse: collapse; /* Убирает двойные границы между ячейками */
    background-color: #f1d9f1;
    color: rgb(4, 4, 4);
    box-sizing: border-box;
}

th, td {
    text-align: left; /* Выравнивает текст в ячейках по левому краю */
    padding: 8px; /* Добавляет внутренние отступы в ячейках */
    border-bottom: 1px solid #ddd; /* Добавляет горизонтальную линию между строками */
}

th {
    background-color: #f2f2f2; /* Устанавливает цвет фона для заголовков таблицы */
}

.leader-icon {
    color: rgb(16, 48, 228); /* Задает цвет иконки лидера */
    margin-left: 5px; /* Добавляет небольшой отступ слева от иконки */
}
img {
    display: block;
    margin: 0 auto 10px; /* Автоматический отступ сбоку и 10px отступ снизу */
    width: 500px; /* Примерная ширина логотипов, можно настроить по необходимости */
}







